@import "../../../scss/variables.scss";

.project-page {
  padding: 50px 50px 10px;
  width: calc(100vw - 100px);
  height: calc(100vh - 60px);

  display: flex;
  flex-direction: row;

  .carousel {
    flex: 7;
  }

  .dropdowns {
    flex: 3;
  }
}
